<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All vehicles</title>
</head>
<body>
<a href="/vehicleModels">Перейти к моделям</a>
<h1>Все автомобили</h1>
<div th:each="vehicle : ${vehicles}">
    <a th:href="@{/vehicles/{id}(id=${vehicle.getId()})}"
       th:text="${vehicle.getId()} + ', ' +
    ${vehicle.getNumber()} + ', ' +
    ${vehicle.getYear()} + ', ' +
    ${vehicle.getCondition().getDescription()} + ', ' +
    ${vehicle.getColor()}">
    </a>
</div>
<hr>
<form action="/vehicles/create" method="get">
    <input type="submit" value="Создать">
</form>
</body>
</html>