<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All vehicle models</title>
</head>
<body>
<h1>Все модели автомобилей</h1>
<div th:each="vehicleModel : ${vehicleModels}">
    <a th:href="@{/vehicleModels/{id}(id=${vehicleModel.getId()})}"
       th:text="'id: ' + ${vehicleModel.getId()} + '; ' +
    'Brand name: ' + ${vehicleModel.getBrandName()} + '; ' +
    'Model name: ' + ${vehicleModel.getModelName()} + '; ' +
    'Body type: ' + ${vehicleModel.getBodyType()}">
    </a>
</div>
<hr>
<form action="/vehicleModels/create" method="get">
    <input type="submit" value="Создать">
</form>
</body>
</html>