<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All vehicle models</title>
</head>
<body>
<h1>Все модели автомобилей</h1>
<div th:each="vehicleModel : ${vehicleModels}">
    <span th:text="'id: ' + ${vehicleModel.getId()} + '; ' +
    'Brand name: ' + ${vehicleModel.getBrandName()} + '; ' +
    'Model name: ' + ${vehicleModel.getModelName()} + '; ' +
    'Body type: ' + ${vehicleModel.getBodyType()} + '; ' +
    'Maximum speed: ' + ${vehicleModel.getMaxSpeed()} + '; ' +
    'Engine type: ' + ${vehicleModel.getEngineType()} + '; ' +
    'Doors number: ' + ${vehicleModel.getDoorsNumber()}">
    </span>
</div>
</body>
</html>